[submodule "ochadoop"]
	path = ochadoop
	url = https://github.com/asiainfo-linkage/ochadoop.git
[submodule "incubator-phoenix"]
	path = incubator-phoenix
	url = https://github.com/apache/incubator-phoenix.git
[submodule "forcedotcom-phoenix"]
	path = forcedotcom-phoenix
	url = https://github.com/forcedotcom/phoenix.git
